body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.button-group {
  text-align: center;
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrap {
  min-height: 350px;
  position: relative;
}

.letter-btn,
.hide-btn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  color: white;
  background-color: #4caf50;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.letter-btn:hover,
.hide-btn:hover {
  background-color: #45a049;
}

.result {
  display: none;
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
  .button-group {
    width: calc(50% - 20px);
  }
}

img {
  max-width: 100%;
  height: auto;
}

.hide-btn {
  display: none;
  margin-top: 5px;
  width: 100%;
}
